body {
  background-color: #34495e;
  color: white;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search h1 {
  font-size: 2em;
}

.input {
  width: 15em;
  height: 0.8em;
  padding: 1vw;
  font-size: 1.2em;
  margin-bottom: 5vw;
  margin-top: 1.5vw;
  border-radius: 4px;
  border: none;
  color: white;
  background: linear-gradient(183deg, #513cc7 09%, #961fac 100%);
}

.input::placeholder {
  color: #e2e2e2;
}
